@page "/"
@inject SurlyNoteApiClient client
@inject NavigationManager navigation
@attribute [Authorize]
<div class="container">
    <div class="row">
        <div class="col-4"><h3>Notes</h3></div>
        <div class="col-4">
            <EditForm Model="@search" OnValidSubmit="@SearchSubmitted">
                <div class="form-group">
                    <label for="txtSearch">Search:</label>
                    <InputText id="txtSearch" @bind-Value="@search.SearchText" />
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (docs == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in docs)
            {
                <tr>
                    <td>
                        <a href="editdoc/@doc.Id">@doc.Title</a>
                        </td>
                    <td>
                        @foreach (var tag in doc.Tags)
                        {
                            <button class="btn-doctag">@tag</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private SearchTerm search = new SearchTerm();

    private DocListItem[] docs;

    protected override async Task OnInitializedAsync()
    {
        var response = await client.GetNoteList();
        docs = response.ToArray();
    }

    private async Task SearchSubmitted()
    {
    }
}
